{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicon/boxicons.min.css' %}">
    <script src="{% static 'js/auth/auth.js' %}" defer></script>
    <title>New Work</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="input-box">
            <h3>LOGIN</h3>
            <ul>
                <li>
                    <div class="username">
                        <i class="bx bx-user"></i>
                        <input type="text" placeholder="username" name="username" required>
                    </div>
                </li>
                <li>
                    <div class="password">
                        <i class="bx bx-lock"></i>
                        <input type="password" placeholder="password" name="password" id="password" required>
                        <i class="bx bx-hide" id="check" onclick="change()"></i>
                    </div>
                </li>
                {% if messages %}
                    {% for message in messages %}
                        <div class="message{{ messages.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="lower">
                    <a href="#" class="forgot-password">forgot password</a>
                    <button type="submit">Login</button>
                    <p>Don't have an account? <a href="{% url 'register' %}">register</a></p>
                </div>
                
            </ul>                  
        </div>
    </form>
</body>
</html>