{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="text">
            <p id="display"></p>
            <p id="result-display"></p>
        </div>
        <ul>
            <button onclick="clearOne()">C</button>
            <button onclick="clearAll()">CA</button>
            <button onclick="showText('.')">.</button>
            <button onclick="showText('/')">÷</button>
            <button onclick="showText(7)">7</button>
            <button onclick="showText(8)">8</button>
            <button onclick="showText(9)">9</button>
            <button onclick="showText('*')">×</button>
            <button onclick="showText(4)">4</button>
            <button onclick="showText(5)">5</button>
            <button onclick="showText(6)">6</button>
            <button onclick="showText('-')">-</button>
            <button onclick="showText(1)">1</button>
            <button onclick="showText(2)">2</button>
            <button onclick="showText(3)">3</button>
            <button onclick="showText('+')">+</button>
            <button onclick="showText('00')">00</button>
            <button onclick="showText(0)">0</button>
            <button onclick="result()">=</button>
        </ul>
    </div>   
</body>
</html>