{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicon/boxicons.min.css' %}">
    <script src="{% static 'js/pages/home.js' %}" defer></script>
    <title>Home</title>
</head>
<body>
    <div class="app">
    <header>
        <div class="header-container">
            <div class="hearder-name">
                {% if request.user.profile.avatar %}
                    <img src="{{ request.user.profile.avatar.url }}" class="profile-avatar">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" class="profile-avatar">
                {% endif %}
                <h3>Welcome, {{ request.user.username }}</h3>
            </div>
            <a class="profile" href="{% url 'profile' %}"><i class="bx bx-dots-vertical-rounded"></i></a>
        </div>

        <div class="search">
            <form method="GET" id="search-form">
                <div>
                    <a href="" id="search-back"><i class="bx bx-left-arrow-alt"></i></a>
                    <input id="search-input" type="text" name="search" placeholder="Search username...." value="{{ search }}">
                </div>
                <button type="submit" class="search-button"><i class="bx bx-search"></i></button>
            </form>
            <div class="result" id="search-results">
                {% for user in users %}
                    <div class="user-result">
                        <a href="{% url 'start_chat' user.id %}">
                            {% if user.profile.avatar %}
                                <img src="{{ user.profile.avatar.url }}">
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}">
                            {% endif %}

                            <span>{{ user.username }}</span> 
                        </a>

                    </div>

                    {% empty %}
                    <p>No users found.</p>

                    {% endfor %}
            </div>
        </div>
    </header>

    <main>
        <div class="messages" id="conversation-list">
            {% for chat in chat_list %}
                <a id="conversation-{{ chat.conversation.id }}" href="{% url 'chat_room' chat.conversation.id %}">
                    <div class="chat-card">
                        <div class="chat-info">
                            <div class="sender-indicator">
                                {% if chat.user.profile.avatar %}
                                    <img src="{{ chat.user.profile.avatar.url }}">
                                {% else %}
                                    <img src="{% static 'images/default.jpg' %}">
                                {% endif %}
                                <div class="name-text">
                                    <span id="status-{{ chat.user.id }}">
                                        {% if chat.user.profile.is_online %}
                                            🟢 Online
                                        {% else %}
                                            ⚫ Last seen {{ chat.user.profile.last_seen|date:"H:i" }}
                                        {% endif %}
                                    </span>
                                    <h5>{{ chat.user.username }}</h5>
                                    {% if chat.last_message %}
                                        <p id="last-message-{{ chat.conversation.id }}">
                                            {% if chat.last_message.sender == request.user %}
                                                <small>You: </small>
                                            {% else %}
                                                <small>{{ chat.last_message.sender.username }}: </small>
                                            {% endif %}
                                        
                                            {{ chat.last_message.text|truncatechars:35 }}
                                        </p>
                                        
                                    {% else %}
                                        <p>No messages yet.</p>
                                {% endif %}
                                </div>
                            </div>
                            
                            <div class="chat-time">
                                <small id="time-{{ chat.conversation.id }}">
                                    {{ chat.last_message.created_at|date:"H:i" }}
                                </small>
                                {% if chat.unread_count > 0 %}
                                    <span id="badge-{{ chat.conversation.id }}" class="unread-badge">
                                        {{ chat.unread_count }}
                                    </span> 
                                {% else %}
                                    <span id="badge-{{ chat.conversation.id }}" class="unread-badge" style="display: none;">
                                        0
                                    </span>
                                {% endif %}
                            </div>
                                                                                  
                        </div>    
                    </div>
                </a>
                {% empty %}
                    <p>No conversations yet</p>
            {% endfor %}
        </div>
</main>
</div>

</body>
</html>