{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicon/boxicons.min.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'home' %}"><i class="bx bx-left-arrow-alt"></i></a>           
        </header>
        
        <div class="profile-info">
            <h3>Profile</h3><br>
            {% if request.user.profile.avatar %}
                <img src="{{ request.user.profile.avatar.url }}" class="profile-avatar">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" class="profile-avatar">
            {% endif %}
            <h3>{{ request.user.username }}</h3>
            <p>{{ request.user.email }}</p>
        </div>
        
        
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Change Profile Photo</label>
            {{ form.avatar }}<br>

            <label>Bio</label>
            {{ form.bio }}
            <button type="submit">Save</button>
        </form>
        <footer>
            <a href="{% url 'login' %}"><i class="bx bxs-door-open">Logout</i></a>
        </footer>
    </div>    
</body>
</html>

